# {{ .Name }}

**URI:** `{{ .URI }}`

{{ if .MimeType }}**MIME Type:** {{ .MimeType }}

{{ end }}## Description

{{ if .Description }}{{ .Description }}{{ else }}*No description available*{{ end }}

{{ if .Context }}## Additional Documentation

{{ range $key, $value := .Context -}}
{{ if contains $value "\n" -}}
### {{ $key }}

{{ $value }}

{{ else -}}
**{{ $key }}:** {{ $value }}

{{ end -}}
{{ end -}}
{{ end }}