# {{ humanize .Name }}

{{ if .Description }}{{ .Description }}{{ else }}*No description available*{{ end }}

## Input Schema

{{ if .InputSchema }}```json
{{ json .InputSchema }}
```{{ else }}This tool accepts no input parameters.{{ end }}

{{ if and .Context (len .Context) }}## Additional Documentation

{{ range $key := sortedKeys .Context -}}
{{ $value := index $.Context $key -}}
{{ if contains $value "\n" -}}
### {{ humanizeKey $key }}

{{ $value }}

{{ else -}}
**{{ humanizeKey $key }}:** {{ $value }}

{{ end -}}
{{ end -}}
{{ end }}