# {{ .Name }}

{{ if .Description }}{{ .Description }}{{ else }}*No description available*{{ end }}

## Input Schema

{{ if .InputSchema }}```json
{{ json .InputSchema }}
```{{ else }}This tool accepts no input parameters.{{ end }}

{{ if .Context }}## Additional Documentation

{{ range $key, $value := .Context -}}
{{ if contains $value "\n" -}}
### {{ $key }}

{{ $value }}

{{ else -}}
**{{ $key }}:** {{ $value }}

{{ end -}}
{{ end -}}
{{ end }}