# {{ humanize .Name }}

{{ if .Description }}{{ .Description }}{{ else }}*No description available*{{ end }}

{{ if .Arguments }}## Arguments

{{ range .Arguments }}```json
{{ json . }}
```
{{ end }}{{ end }}

{{ if and .Context (len .Context) }}## Additional Documentation

{{ range $key := sortedKeys .Context -}}
{{ $value := index $.Context $key -}}
{{ if contains $value "\n" -}}
### {{ humanize $key }}

{{ $value }}

{{ else -}}
**{{ humanize $key }}:** {{ $value }}

{{ end -}}
{{ end -}}
{{ end }}