# {{ humanize .Name }}

**URI:** `{{ .URI }}`

{{ if .MimeType }}**MIME Type:** {{ .MimeType }}

{{ end }}## Description

{{ if .Description }}{{ .Description }}{{ else }}*No description available*{{ end }}

{{ if and .Context (len .Context) }}## Additional Documentation

{{ range $key := sortedKeys .Context -}}
{{ $value := index $.Context $key -}}
{{ if contains $value "\n" -}}
### {{ humanizeKey $key }}

{{ $value }}

{{ else -}}
**{{ humanizeKey $key }}:** {{ $value }}

{{ end -}}
{{ end -}}
{{ end }}