{{- /* Template for prompts section */ -}}
{{define "prompts"}}
## Prompts

{{range .Prompts}}
### {{.Name}}

{{if .Description -}}
{{.Description}}

{{end -}}
{{- if .Arguments}}
**Arguments:**
```json
{{.Arguments | json}}
```

{{end -}}
{{- if .Context}}
**Context:**

{{range $key, $value := .Context -}}
{{if contains $value "\n" -}}
**{{ humanizeKey $key }}:**

{{$value}}

{{else -}}
- **{{ humanizeKey $key }}:** {{$value}}
{{end -}}
{{end -}}
{{end}}
{{end}}
{{end}}