{{- /* Template for resources section */ -}}
{{define "resources"}}
## Resources

{{range .Resources}}
### {{.Name}}

**URI:** `{{.URI}}`

{{if .Description -}}
{{.Description}}

{{end -}}
{{- if .MimeType}}
**MIME Type:** {{.MimeType}}

{{end -}}
{{- if .Context}}
**Context:**

{{range $key, $value := .Context -}}
{{if contains $value "\n" -}}
**{{$key}}:**

{{$value}}

{{else -}}
- **{{$key}}:** {{$value}}
{{end -}}
{{end -}}
{{end}}
{{end}}
{{end}}