{{- /* Template for resources section */ -}}
{{define "resources"}}
## Resources {#resources}

{{range .Resources}}
### {{.Name}} {#resource-{{.Name | anchor}}}

**URI:** `{{.URI}}`

{{if .Description -}}
{{.Description}}

{{end -}}
{{- if .MimeType}}
**MIME Type:** {{.MimeType}}
{{end}}
{{end}}
{{end}}